body {
	background: #161616;
	color: white;
	user-select: none;
	margin: 0;
	padding: 0;
}

img {
	user-select: none;
}

.container-cs {
	position: relative;
	font-family: 'Raleway';
	min-height: 100vh;
}

.container-cs img {
	position: absolute;
	top: 50%;
	left: 0;
	width: 40rem;
	transform: translateY(-50%);
}

.container-cs .text {
	position: absolute;
	top: 50%;
	left: 41%;
	transform: translate(-50%, -50%);
}

.container-cs .text h1 {
	font-size: 8rem;
}

.container-cd {
	position: relative;
	font-family: 'Montserrat';
	min-height: 100vh;
}

.container-cd img {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40rem;
	transform: translate(-50%,-50%);	
}

.countdown-container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	text-align: center;
}

#countdown {
	font-size: 5rem;
}
