.container {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #F3F3F3;
	font-family: 'Quicksand';
	overflow: hidden;
}

.centered {
	font-size: 58px;
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%,-50%);
}

.centered > h1,h2,h3,h4,h5,p {
	margin: 0.05rem 0.05rem 0.05rem 0.05rem;
	z-index: 1;
}

.cloud-image {
	position: absolute;
	width: 12.5em;
	height: auto;
}

#cloud-1 {
	top: 5%;
	left: 10%;
	width: 20rem;
	animation: cloudTranslateLeft 3.5s alternate infinite ease-in-out;
}

#cloud-2 {
	top: 70%;
	left: 30%;
	animation: cloudTranslateLeft 4s alternate infinite ease-in-out;
}

#cloud-3 {
	top: 60%;
	left: 80%;
	width: 17.5rem;
	animation: cloudTranslateRight 3.5s alternate infinite ease-in-out;
}

@keyframes cloudTranslateLeft {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(5em);
	}
}

@keyframes cloudTranslateRight {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-5em);
	}
}

@media screen and (max-height: 768px){
	html {
		font-size: 16px;
	}
	.centered {
		font-size: 36px;
	}
}