body {
	background: #F6F6F6;
	color: black;
	user-select: none;
	margin: 0;
	overflow: hidden;
}

img {
	user-select: none;
}

.parallax {
	perspective: 3px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-perspective-origin-x: 100%;
	perspective-origin-x: 100%;
}

.parallax__group {
	position: relative;
	height: 100vh;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;

}

.parallax__layer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-webkit-transform-origin-x: 100%;
    transform-origin-x: 100%;
}

.parallax__layer--base {
	transform: translateZ(0);
}

.parallax__layer--middle {
	transform: translateZ(-1px) scale(0.6);
}

.parallax__layer--back {
	transform: translateZ(-2px) scale(1);
}

.parallax__layer--deep {
	transform: translateZ(-3px) scale(1.3);
}

.parallax__layer--deeper {
	transform: translateZ(-4px) scale(1.6);
}

.parallax__layer--deepest {
	transform: translateZ(-5px) scale(2);
}

.section__one--text {
	font-family: 'Raleway', serif;
	font-size: 6rem;
	position: absolute;
	top: 50%;
	left: 41%;
	transform: translate(-50%,-50%);
	line-height: 200%;
}

.section__one--text h1 {
	font-weight: 600;
}

.section__one--rect {
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-115%,-50%);
	width: 70rem;
}

.section__two {
	transform: translateY(75%);
}

.section__two--rect {
	position: absolute;
	top: 50%;
	left: 22%;
	transform: translate(-50%,-50%);
	width: 70rem;
}

.countdown-container {
	font-family: 'Montserrat', serif;
	font-size: 5.5rem;
	font-weight: 500;
	position: absolute;
	display: flex;
	justify-content: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
}

.countdown-container span {
	margin: 2rem;
}

.section__three {
	font-family: 'Montserrat', serif;
	transform: translateY(95%);
}

.section_three--text {
	position: absolute;
	font-weight: 500;
}

.ik {
	font-size: 10.5rem;
	top: 70%;
	left: 20%;
}

.gath {
	font-size: 17rem;
	top: 45%;
	left: 30%;
}

.er {
	font-size: 15rem;
	top: 70%;
	left: 10%;
}

.plus {
	font-size: 16rem;
	top: 90%;
	left: 0%;
}

.ing {
	font-size: 22rem;
	top: 180%;
	left: 10%;
}


.section__one--tri1 {
	position: absolute;
	top: -55%;
	left: -80%;
	width: 15rem;
}

.section__one--lin1 {
	position: absolute;
	top: -20%;
	left: 60%;
	width: 18rem;
}

.section__one--dot1 {
	position: absolute;
	width: 1.2rem;
	top: -28%;
	left: 90%;
}

.section__one--cir1 {
	position: absolute;
	width: 6rem;
	top: 60%;
	left: 40%;
}

.section__one--dot2 {
	position: absolute;
	width: 4.5rem;
	top: 45%;
	left: 92%;
}

.section__one--tri2 {
	position: absolute;
	width: 8rem;
	top: 97%;
	left: 65%;
}

.section__two--dot2 {
	position: absolute;
	top: -25%;
	left: 10%;
	width: 8rem;
	transform: rotate(90deg);
	z-index: -1;
}

.section__two--lin1 {
	position: absolute;
	width: 20rem;
	top: -5%;
	left: 45%;
}

.section__two--cir1 {
	position: absolute;
	width: 10rem;
	top: 70%;
	left: 60%;
}

.section__two--cir2 {
	position: absolute;
	width: 10rem;
	top: 90%;
	left: -80%;
}

.section__two--lin2 {
	position: absolute;
	width: 18rem;
	top: 75%;
	left: 10%;
}

.section__two--wav1 {
	position: absolute;
	left: -50%;
	width: 7rem;
	transform: rotate(90deg);
}

.section__two--wav2 {
	position: absolute;
	width: 6rem;
	top: 85%;
	left: 60%;
}

.section__three--tri1 {
	position: absolute;
	width: 13rem;
	top: 50%;
	left: -50%;
}

.section__three--dot1 {
	position: absolute;
	width: 1.2rem;
	top: 35%;
	left: 90%;
}

.section__three--rec1 {
	position: absolute;
	width: 4rem;
	top: 58%;
	left: 36%;
}

.section__three--cir1 {
	position: absolute;
	width: 6rem;
	top: 60%;
	left: 60%;
}

.section__three--lin1 {
	position: absolute;
	width: 12rem;
	top: 120%;
	left: 90%;
}

.section__three--tri2 {
	position: absolute;
	width: 13rem;
	top: 220%;
	left: -10%;
	transform: rotate(90deg);
}

.section__three--wav1 {
	position: absolute;
	width: 6rem;
	top: 150%;
	left: -5%;
	transform: rotate(90deg);
}

.section__three--cir2 {
	position: absolute;
	width: 7rem;
	top: 100%;
	left: -30%;
}

.section__three--dot2 {
	position: absolute;
	width: 5.5rem;
	top: 145%;
	left: 5%;
	transform: rotate(90deg);
}

@keyframes rotation {
	0% {transform: rotate(0deg);}
	25% {transform: rotate(90deg);}
	50% {transform: rotate(180deg);}
	75% {transform: rotate(270deg);}
	100% {transform: rotate(360deg);}
}